<!DOCTYPE html>
<html>
    <head>
        <title>MetaChromServer</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <style>

        </style>
    </head>
    
    <body>
        <div class="theme-showcase" role="main">
            <!----------------------------- nav bar ------------------------------->
            <nav>

            </nav>

            <!------------------------------ Header -------------------------------->
            <div class="jumbotron text-center" style="margin-bottom: 0px;">
                <h1 style="font-size: 3vw; font-weight: bold;">MetaChrom Server</h1>
                <h5>Description</p> 
            </div>

            <!------------------------------ Body ----------------------------------->
            <div class="container" style="margin-top: 20px; width:100%;">
                <h2>Submit a file for analysis</h2>
                <form action="result.html">
                    <input type="radio" name="fileType" id="seq" onclick="ShowVarSelection()">FASTA<br>
                    <input type="radio" name="fileType" id="var" onclick="ShowVarSelection()">Variant
                    <select id="selectVar" name="selectVar" style="display: none;">
                        <option value="">--Please choose an option--</option>
                        <option value="VCF">VCF</option>
                        <option value="RSID">RSID</option>
                    </select>
                    <script type="text/javascript">
                        function ShowVarSelection() {
                            var variant = document.getElementById("var");
                            var selectVar = document.getElementById("selectVar");
                            selectVar.style.display = variant.checked ? "block" : "none";
                        }
                    </script>
                    <br>
                    <label for="inputFile">File:</label><br>
                    <textarea id="inputFile" name="inputFile" rows="10" cols="50" placeholder="Input"></textarea>
                    <br>
                    <p>Or upload a file:</p>
                    <input type="file" id="inputFile" name="inputFile"><br>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
        
    </body>
</html>